.btn-starOn {
    width: 50px;
    aspect-ratio: 1;
    position: relative;
    float: right;
    background: #F8CA00;
    clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn)))
    );
}

.btn-starOff {
    width: 50px;
    aspect-ratio: 1;
    position: relative;
    float: right;
    background: #585858;
    clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn)))
    );
}

.btn-upvoteOn {
    height: 40px;
    aspect-ratio: 1;
    clip-path: polygon(50% 0,100% 100%,0 100%);
    background: #7AB317;
}

.btn-upvoteOff{
    height: 40px;
    aspect-ratio: 1;
    clip-path: polygon(50% 0,100% 100%,0 100%);
    background: #585858;
}
